# Python
.venv/
__pycache__/
*.pyc
.env

# Node / frontend
node_modules/
dist/
build/

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/

# Logs
*.log

# FEC Bulk Data
seeds/

# Wrangler
wrangler.toml
.wrangler/