# Python
.venv/
__pycache__/
*.pyc
.env

# Offline Scripts
scripts/

# Node / frontend
node_modules/
dist/
build/

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/

# Logs
*.log

# Databases
*.db
*.db-journal
*.sqlite3

# FEC Bulk Data
bulk_fec/

# Wrangler
wrangler.toml
.wrangler/